.layui-table-view .layui-disabled.layui-form-checkbox.layui-form-checked[lay-skin="primary"] i,
.layui-table-view .layui-disabled.layui-form-checkbox.layui-form-checked[lay-skin="primary"] i:hover {
  background-color: lightgray !important;
  color: #fff !important;
}

.layui-table-view .layui-disabled.layui-form-checkbox[lay-skin="primary"] i,
.layui-table-view .layui-disabled.layui-form-checkbox[lay-skin="primary"] i:hover {
  background-color: lightgray !important;
  color: lightgray !important;
}

.layui-table-view.layui-table-none-overflow .layui-table-header .layui-table {
  margin-bottom: 0;
}

.layui-table-view.layui-table-none-overflow .layui-table-header {
  overflow-x: auto;
}

.layui-table-view.layui-table-none-overflow .layui-table-patch {
  display: none;
}

#layui-tablePlug-col-filter+ div {
  margin: 0;
}

.layui-table-filter.layui-active {
  color: deepskyblue;
}

.layui-table-filter {
  cursor: pointer;
}

.table-filter-opt-invert {
  cursor: pointer;
  float: right;
}

.LAY_TABLE_TOOL_COLS_Invert_Selection {
  position: absolute;
  right: 10px;
  padding: 0 6px;
  cursor: pointer;
  color: #666;
}

.layui-table-select dl {
  top: 0;
}

.layui-layer-content div.layui-form-select>div.layui-select-title+ dl,
.select_option_in_layer div.layui-form-select>div.layui-select-title+ dl,
.layui-table-view .layui-form-select dl {
  display: none;
}

.layui-table-view .layui-form-select dl {
  /*visibility: hidden !important;*/
}

.layui-layer-content .layui-table-select  dl {
  position: relative;
}
